body{
font-family: Cursive;

.card{
background-color: #FFA6C9;
padding: 10px;
border: 4px dashed #f0516b;
border-radius: 20px;
}

.card img{
border-radius: 10px;
border: 5px solid #CED1F8;
}